
@{
    ViewBag.Title = "LogIn";
    

}
<div class="body__page">
    <div class="login-page">
        <div class="push form row">
            <div class="col">
                <div class="login">
                    <div class="login-header">
                        <img src="~/Recursos/logo.png" class="size__icon animate__animated animate__flip" alt="icon login">
                    </div>
                </div>


                <form class="login-form">
                    <input type="text" id="inpt__username" class="rounded__basic" placeholder="username" required/>
                    <input type="password" id="inpt__password"  class="rounded__basic" placeholder="password" required/>
                    <button type="submit"  id="btn__login"  class="rounded__basic push__button">login</button>
                    <p class="message">Olvidaste tu contraseña? <a href="#">Recuperala</a></p>
                </form>
            </div>

            

        </div>
    </div>

</div>